body
{
  font-family: 'H', 'Trebuchet MS', Helvetica, serif;
  margin: 0;
  padding: 0;
}

nav
{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(180deg,  rgba(255,255,255,1) 0%, rgba(247,247,247,1) 31%, rgba(237,237,237,1) 66%, rgba(235,235,235,1) 100%);
  border-bottom: solid thin black;
}

nav a
{
  color: #000000;
}

nav a:hover
{
  cursor: pointer;
  color: #666;
}

nav ul li
{
  display: inline-block;
}

.left-nav
{
  margin-right: 6%;
}

#mainButton
{
  position: absolute;
  top: 30px;
  right: 50px;
}

#get-started, #logout, #loginButton, #checkVerifyButton, #resendVerifyButton, #input-home
{
  background-color: #1e88e5;
  color: #FFFFFF;
  font-size: 20px;
  font-family: 'H', 'Trebuchet MS', Helvetica, serif;
  border-radius: 4px;
  border: none;
  padding: 10px 10px;
  right: 10px;
}

#loading
{
  background-color: white;
  position:fixed;
  width: 100%;
  height: 100%;
}

a
{
  text-decoration: none;
}

#email_field
{
  margin-top: 30px;
}

#password_field
{
  margin-top: 5px;
}

#name_field, #grade_field, #role_field
{
  margin-top:5px;
  text-align:left;
}

#input-form
{
  text-align: center;
  border-radius: 20px;
  padding: 30px;
  width: 300px;
  height: 500px;
  margin: 7% auto;
  background-color: #B5D6FB;
}

#message
{
  border: #CCC 2px solid;
  width: 75%;height: 450px;
  overflow: auto;
  margin-top: 130px;
}

#toggleLink:hover
{
  cursor: pointer;
}

#loginButton:hover
{
  cursor: pointer;
}

h1
{
  opacity: 100%;
}

#tutoring-top
{
  margin-top: 100px;
  height: 400px;
  background-image: url("../img/teaching.jpg");
  opacity: 0.5;
}

#verifyUI
{
  margin-top: 100px;
  height: 400px;
  background-image: url("../img/teaching.jpg");
  opacity: 1;
  text-align: center;

}

#accountDropdown
{
  position: fixed;
  height: 110px;
  right: 60px;
  top: 70px;
  float: right;
  border: solid 0.01em black;
  text-align: center;
  width: 100px;
  display: none;
  background-color: white;
}

#accountDropdown ul
{
  position: relative;
  right: 20px;
  list-style: none;
}

#accountDropdown ul li a:hover
{
  text-decoration: underline;
}

.input_field
{
  margin-left: 20px;
  margin-bottom: 40px;
  text-align: left;
}